 body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F1EBE7;
    overflow-x: hidden ;
}

.main{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-width: 50vw;
}
.sec1{
    flex-direction: row;
    width: 100vw;
    height: auto;
 
    margin-bottom: 30px;
}

header{
    height: 90px;
    width: 100vw;
    max-width: 100vw;
    background: linear-gradient(#ED993D , #E74E2B);
    display: flex;
}
ul{
    display: inline;
    display: flex;
    margin-right : 100px;
    list-style-type: none;
    margin-top:  35px;
    float: right;
   
}
.nav-link a{
   color: whitesmoke;
   text-decoration: none;
   padding: 10px;
   
}
.nav-link a:hover{
    background-color: whitesmoke;
    color: #E74E2B;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
 }

 .heading{
    
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    color: whitesmoke;
    flex: 1;
 } 

.container-fluid{
    width: 80vw;
    display: flex;
    flex-direction: row;
    height: auto;
   padding: 5rem;

}
.col1{
    width: 60%;
}
.col2{
   
 width: 40%;

}
.para{
    font-size: 35px;
    color: #ED993D;
    font-weight: 700;
    margin-top: 100px;
    padding: 0;
    margin-bottom: 0;
    /* margin-left: 100px; */



}
.name{
    font-size: 55px;
    color: rgb(36, 36, 36);
    font-weight: bold;
    padding: 0;
    margin-top: 10px;
    /* margin-left: 100px; */
    bottom: 0;

}

.img2{
    position: relative;
    height:350px;
    margin-left: 40px;
     overflow: hidden;
}
.img1{
    position: absolute;
}
.text{
    font-size: 16px;
    color: rgb(36, 36, 36);
    /* margin-left: 100px; */
     padding: 0;
    margin-top: -30px;
    font-weight: 500;
}

.call-book {
    background-color: #181818;
    color: whitesmoke;
    padding: 12px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
   
}
.call-view{
    background-color: whitesmoke;
    color: #181818;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    margin-left: 20px;
}

.sec2{
    width: 100vw;
    height: auto;
    display: flex;
    background-color: white;
    
}
.col-1 img{
    display: flex;
    margin: 50px;
   
}
.col-2{
  margin: 50px;
    
}
.col-2-h1{
   font-size: 48px;
   color: #181818;
   margin-top: 20px;
}

label{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 0;
}
.input{
    margin-top: 30px;
}

.text2{
    color: #181818;
    font-size: 18px;
   
}

.abt , .abt-1 {
    color: #E74E2B;
    font-weight: 600;
    flex-direction: row;
    display: flex;
    

}

.inner-col1 , .inner-col2{
  display: flex; 
  padding: 10px;
 flex-direction: column;
 width: 100%;


}

.inner-col2 img{
    width: 50px;
    height: 50px;
}

.inner-col1 img{
    width: 50px;
    height: 50px;
    ;
}
.inner-sec{
  display: flex;
  flex-direction: row; 
  gap: 5rem;
}

.col-11{
    display: flex;
    flex-direction: row;
}

.abt-li{
    margin-top: 40px;
    margin-bottom: 20px;
}
.abt-btn{
    padding: 15px;
    color: white;
    background: linear-gradient(#ED993D , #E74E2B);
    margin-top: 30px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
}


.services{

    background-color: white;

}
.srvs-heading{
    font-size: 35px;
    flex-wrap: wrap;
    font-weight: 800;
    margin-top: 15px;
}


.services-column{
    /* margin-top: -30px; */
     display: flex;
    flex-direction: row;
    margin: 60px;
   

}
.ser-col{
    border: 1px solid #ED993D;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 15px;
    margin: 20px;
    margin-bottom: 50px;


}
.ser-col img{
    width: 100px;
    height: 80px;
    align-items: center;
    
}
.ser-col > p{
    text-align: center;
    margin-top: 0;
}
.srvc-title{
    color: #E74E2B ;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ser-col:hover{
    border: 2px solid #E74E2B;
    border-color: linear-gradient(#ED993D , #E74E2B);
    transform: scale(1.1);
}

.contact{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    min-width: 50vw;
    margin-top: 50px;
  margin-bottom: 50px;
      
    
   
}
.contact-form{
    margin-top: 50px;
    width: 75%;
    
}

.form-inp{
    width: 35%;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid #E74E2B;
   
    flex-direction: column;

}


.form-msge{
    width: 35%;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid #E74E2B;
}

.form-btn{
    padding: 25px;
    margin-top: 35px;
    border-radius: 25px;
    background:linear-gradient(#ED993D , #E74E2B);
    border: 0.5px solid #E74E2B;
    color: white;

}
.contact-form1{
    width: 30vw;
 flex-direction: column;
 margin-bottom: 20px;

}

.contact-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 50px; 
} 

.footer{
   
    display: flex;
    background:linear-gradient(#ED993D , #E74E2B); ;
    flex-direction: row;
}
.footer-row{
    margin: 60px;
    display: flex;
   flex-direction: row;

}
.footer-heading {
    color: black;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 40px;
    margin-left: 30px;

}
.footer-col{
    width: 25%;
  padding: 20px;

  
}
.footer-para{
    color: white;   
}
.footer-link{
    color: white;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
  margin: 30px;
}

.fa-brands{
    color: white;
    font-size: 30px;
    padding: 10px;
}


.last-para1{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.last-para{
    color: white;
}



.skill-row{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.skill{
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 90vw;
   
}
.skill-heading  {
    align-items: center;
    font-size: 35px;
   font-weight: 600;
   justify-content: center;
   text-align: center;
   
}
.skill-col{
    justify-content: center;
    align-items: center;
    width: 80vw;
    
}
.skill-para{
    text-align: center;
    margin-bottom: 50px;
}
.progress-bar{
    text-align: center;
    width: 80vh;
    background:#000;
    height: 20px;
    border-radius: 50px;
    justify-content: center;
    margin: 0 auto;
   

}
.progres-para{
    text-align: center;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
 
}
.progs{
    width: 75%;
    background: linear-gradient(#ED993D , #E74E2B);
    display: block;
    height: 100%;
    border-radius: 50px;
    font-size: 13px;
    color: white;
   
}
.progs-1{
    width: 85%;
    background: linear-gradient(#ED993D , #E74E2B);
    display: block;
    height: 100%;
    border-radius: 50px;
    font-size: 13px;
    color: white;
}
.progs-2{
    width: 80%;
    background: linear-gradient(#ED993D , #E74E2B);
    display: block;
    height: 100%;
    border-radius: 50px;
    font-size: 13px;
    color: white;
}
.progs-3{
    width: 65%;
    background: linear-gradient(#ED993D , #E74E2B);
    display: block;
    height: 100%;
    border-radius: 50px;
    font-size: 13px;
    color: white;
}

.progs-4{
    width: 55%;
    background: linear-gradient(#ED993D , #E74E2B);
    display: block;
    height: 100%;
    border-radius: 50px;
    font-size: 13px;
    color: white;
}





@media only screen and (max-width: 1200px){
   .main{
     width: 100vw;
     height: auto;
  

   }



@media only screen and (max-width: 1030px){
    /*Tablets [601px -> 1200px]*/
     header{
        max-width: 100vw;
        width: 100vw;
        height: auto;
        display: flex;
      
    }
    .heading{
        flex: 1;
    }
    .sec1{
        height: auto;
        flex-direction: column;
        width: 100vw;
        max-width: 100vw;
    }

    .col1{
        display: flex;
        flex-direction: column;
        width: 40vw;
        
    }
    .col2{
        flex-direction: column;
        width: 40vw;
     
    }
    ul{
        width: 100vw;
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
      

    }
  
}


@media only screen and (min-width: 1024px){
    header{
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        
    }
    .heading{
        flex: 1;
    }
    ul{
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
    }
    .services{
        margin: 0px;
        padding: 10px;
        width: 100vw;
        height: auto;
        flex-wrap: wrap;
        background-color: white;
    }
}
/* 
Tablet */

/* @media only screen and (max-width: 800px){
    .sec1{
        max-width: 100vw;
        display: flex;

        flex-direction:row;
        width: 100vw;
        height: auto;
        
    }
    .sec1 > .col-1 .col-2{
        width: 100vw;
       
        height: auto;
        display: flex;
  
    } */



}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .services {
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 30px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .services .ser-col{
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 30px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .services .ser-col{
        flex-direction: column;
        width: auto;
        height: auto;
        width: 50%;
        margin: 30px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .services .ser-col{
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 30px;
        flex-wrap: wrap;
        width: 50%;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .services .ser-col{
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 30px;
        width: 50%;
        
    }
  }
  
  



























